.home-page {
  background: linear-gradient(
    to bottom,
    #00324e,
    #0077be,
    #f6d02e,
    #e5c888,
    #ff6633,
    #8b4513,
    #006400,
    #87ceeb,
    #abf5ff
  );
  text-align: center;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
  }

  .about-section {
    background-color: #c7c1c18c;
    border-radius: 1em;
    padding: 1em;
  }

  .contact-section {
    background-color: #ecffd38c;
    border-radius: 1em;
    border: 1px solid #ccc;
    padding: 1em;

    h2 {
      font-size: 1.5rem;
      margin-bottom: 10px;
    }

    p {
      font-size: 1rem;
      margin-bottom: 15px;
    }

    a {
      display: inline-block;
      padding: 10px 1em;
      background-color: #007bff;
      color: white;
      text-decoration: none;
      border-radius: 5px;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #0056b3;
      }
    }

    span {
      display: block;
      margin-top: 10px;
      font-size: 0.9rem;
      color: #463838;
      b {
        text-decoration: underline;
      }
    }
  }
}
