/* ModalTimeline.scss */

.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 0;
  height: 100%;
  overflow-x: hidden;
  transition: 0.3s;
  z-index: 1;

  &.open {
    width: 100vw;
  }
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.2em;
  background-color: #275508;
  padding: 0.2em;
  border: none;
  color: white;
  cursor: pointer;
  z-index: 3;
  text-align: center;
}

.modal-content {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  background-color: #dbeef7;
  overflow-y: auto;
  transition: 0.3s;
  z-index: 2;
  max-width: 70vw;

  &.open {
    width: 70%;
  }
  .text-content {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana,
      sans-serif;
    line-height: 1.3em;
    margin-top: 2em;
  }

  div {
    padding: 20px;
  }
}

.modal-overlay.open,
.modal-content.open {
  display: block;
}
