.scroll-to-top-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}

.scroll-to-top-button.show {
  opacity: 1;
  pointer-events: auto;
}

.scroll-to-top-button button {
  background-color: #2bd3e9;
  color: #000000;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.scroll-to-top-button button:hover {
  background-color: #e8f7189a;
}
