.timeline-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  text-align: center;
  h3 {
    background-color: #bda0bc;
    padding: 0.3em;
    border-radius: 0.5em;
  }

  .era {
    // Section: Era
    background-color: #dfc8de;
    padding: 20px;
    margin: 20px;
    outline: 6px ridge #000000;
    border-radius: 5px;
    width: 80%;

    .era-label {
      font-size: 20px;
      color: #000000;
    }

    .era-start,
    .era-end {
      margin-top: 6px;
      font-size: 16px;
      color: #4b4b4b;
    }

    .period {
      // Section: Period
      margin-top: 20px;
      padding: 20px;
      background-color: #bda0bc;
      outline: 6px ridge #000000;
      border-radius: 5px;

      .period-label {
        font-size: 18px;
        color: #333;
      }

      .period-start,
      .period-end {
        margin-top: 6px;
        font-size: 16px;
        color: #666;
      }

      .epoch {
        // Section: Epoch
        margin-top: 20px;
        padding: 20px;
        background-color: #a2708a;
        outline: 6px ridge #616161;
        border-radius: 5px;

        .epoch-label {
          font-size: 16px;
          color: #ffffff;
        }

        .epoch-start,
        .epoch-end {
          margin-top: 6px;
          font-size: 16px;
          color: #dfdbdb;
        }

        .stage {
          // Section: Stage
          margin-top: 20px;
          padding: 20px;
          background-color: #824670;
          outline: 6px ridge #000000;
          border-radius: 5px;

          .stage-label {
            font-size: 14px;
            color: #ffffff;
          }

          .stage-start,
          .stage-end {
            margin-top: 6px;
            font-size: 12px;
            color: #dfdbdb;
          }
        }
      }
    }
    span {
      margin-top: 5px;
    }

    .info-btn {
      // Info Button
      background-color: #583253;
      color: #fff;
      border: none;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      font-size: 18px;
      cursor: pointer;
      margin-top: 10px;

      &:hover {
        background-color: #0056b3;
      }
    }
  }

  @media (max-width: 768px) {
    .era {
      width: 95%;
    }
  }
}
