.search-option {
  display: flex;
  flex-direction: column;
  align-items: center;

  input[type='text'] {
    width: 80%;
    margin-top: 1em;
    max-width: 20rem;
    padding: 0.5rem;
    background-color: #ffefba;
    outline: 1px solid #ccc;
    border-radius: 0.5rem;
    font-size: 1rem;
  }

  div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1rem;

    label {
      font-size: 1rem;
      font-weight: bold;
      margin-bottom: 0.5rem;
    }

    select {
      width: 100%;
      max-width: 20rem;
      padding: 0.5rem;
      outline: 1px solid #ccc;
      border-radius: 0.5rem;
      font-size: 1rem;
    }
  }

  button {
    margin: 1em 0 1em 0;
    background-color: #007bff;
    color: #fff;
    outline: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s;

    &:hover {
      background-color: #0056b3;
    }
  }

  p {
    color: red;
  }
}

.animal-listing {
  ul {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;

    @media (min-width: 768px) {
      grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    }

    li {
      background-color: #d1d1d1c9;
      outline: 1px solid #ddd;
      border-radius: 0.5rem;
      padding: 1rem;
      text-align: center;
      transition:
        background-color 0.2s,
        transform 0.2s;
      &:hover {
        background-color: #95fa95;
        transform: perspective(500px) rotateX(7deg) rotateY(7deg);
      }

      a {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        color: #333;

        img {
          max-width: 100%;
          height: auto;
          border-radius: 0.5rem;
        }

        h3 {
          margin-top: 0.5rem;
          font-size: 1.5rem;
        }
      }
    }
  }
}
