.animal-card {
  margin: 1em;
  padding: 2rem;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  box-shadow: 0 0 100px #567dff91;
  border-radius: 5px;
  text-align: center;
  align-items: center;

  img {
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem;
    outline: 5px solid #567dff91;
    border-radius: 0.5em;
  }

  h2 {
    font-size: 2rem;
    margin: 0;
  }

  h3 {
    font-size: 1.5rem;
    margin-top: 1rem;
    background-color: #567dff91;
    padding: 0.2em;
    border-radius: 1em;
  }

  p {
    font-size: 1.2rem;
  }

  span {
    font-weight: bold;
  }

  .taxon {
    table {
      width: 100%;
      border-collapse: collapse;
      text-align: center;
      td {
        padding: 0.5rem;
        border-bottom: 1px solid #ccc;
      }
    }

    @media (max-width: 768px) {
      table {
        td {
          display: block;
          padding: 0.25rem 0;
          text-align: left;
        }
      }
    }
  }

  @media (max-width: 768px) {
    padding: 1rem;

    h2 {
      font-size: 1.5rem;
    }

    h3 {
      font-size: 1.2rem;
    }

    p {
      font-size: 1rem;
    }
  }
}
